$bgcolor: rgb(255, 255, 255);
$bgcolor-footer-nav: rgb(240, 240, 240);
$bgcolor-header: rgb(230, 242, 255);
$bgcolor-footer: rgb(230, 242, 255);
$bgcolor-school-icons-nav: rgb(230, 242, 255);
$google-font: 'Open Sans';

body {
	background-color: $bgcolor;
	font-family: $google-font, sans-serif;
}

nav.main-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

nav.footer-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    background-color: $bgcolor-footer-nav;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
}

nav.school-icons-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

header {
  background-color: $bgcolor-header;
  text-align: center;
}

.footer-nav {
  background-color: $bgcolor-footer;
}

.school-icons-nav {
  background-color: $bgcolor-school-icons-nav;
}

h1, h3 {
  text-align: center;
}

h4 {
  padding: 6px 12px;
}

img {
    float: right;
    padding: 6px 12px;
}

p{
  padding: 6px 12px;
}

p::first-letter {
  font-size: 150%;
  font-weight: bold;
  color: darkblue;
}

.twitter-share-button, .fb-share-button {
  margin:0 auto;
  display:block;
}