$bgcolor: rgb(255, 255, 255);
$bgcolor-footer-nav: rgb(240, 240, 240);
$google-font: 'Open Sans';

body {
	background-color: $bgcolor;
	font-family: $google-font, sans-serif;
}

nav.main-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

nav.footer-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    background-color: $bgcolor-footer-nav;
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
}

nav.school-icons-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}